/* PC */
@media (min-width:1024px) {
    
}
/* tablet and mobile  */
@media (max-width:1023px) {
      .btn{
        padding:15px 16px;
      }
      .contact-form .form-control {
        padding:15px;
        font-size: 16px;
      }
      .socials-list {
          font-size:48px;
      }
      #footer .socials-list a {
        margin:0 6px;
      }
      #footer .copyright a {
        padding:12px 0;
        display:inline-block;
      }
      

}
/* tablet */
@media (max-width:1023px) and (min-width:740px) {
    .contact-info {
        line-height: 2;
      }

}
/* Mobile */
@media (max-width:739px) {
    .s-full-width,
    .s-col-full{
        width:100% !important;
    }
    .s-mt-8{
        margin-top:8px !important;
    }
    #header {
        overflow: hidden;
    }
    #header .search-button{
        display:none;
    }
    #header .mobile-menu-btn{
        display:block;
    }
    #navigtion {
        display:block;
    }
    #navigtion li a {
        padding:1px 24px;
    }
    #navigtion>li{
        display:block;
    }
    #navigtion>li:first-child{
        display:inline-block;
    }
    #navigtion .subnavigtion {
        position: initial;
        background-color: #333;
    }
    #navigtion .subnavigtion a{
        color:#fff;
        padding:5px 41px;
    }
    #content .member-item{
        margin-top:30px;
        width:100%;
    }
    #content .member-img {
        width:60%;
    }
    .contact-form {
        margin-top:32px;
    }
}